/* General Reset */
* {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #fff;
}

.top-button button {
    padding: 10px 15px;
    border: none;
    background-color: rgba(0, 81, 255, 0.5);
    color: white;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.5s;
    position: fixed;
    z-index: 1000;
    margin-top: 10px;
    margin-left: 1760px;
}

.top-button button:hover {
    background-color: rgba(0, 81, 255);
}

.top-button img {
    background-color: rgba(0, 81, 255, 0.5);
    border-radius: 15px;
    padding: 5px 5px;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 1000;
    position: fixed;
    transition: background 0.5s;
    cursor: pointer;
    border: none;
}

.top-button img:hover {
    background-color: rgba(0, 81, 255);
}

.text-top-button {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-content: center;
    align-self: center;
    align-items: center;
    min-height: 25px;
    padding: 10px 10px;
    display: flex;
    list-style-type: none;
}

.master,
.download,
.github {
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: none;
    padding: 10px 10px;
    min-height: 25px;
    border-radius: 15px;
}

.master:hover,
.download:hover,
.github:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 81, 255);
}

.loader {
    z-index: 1100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f9fb;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #4980f5;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

#SIGMA {
    color: #0051ff;
    font-family: poppins;
    font-weight: 600;
    text-align: center;
}

.main-head {
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 81, 255, 0.1);
    width: 900px;
    max-width: 100%;
    height: 340px;
    margin: 0 auto;
    margin-top: 30px;
}

#button1,
#button2 {
    padding: 10px 20px;
    border: none;
    background-color: rgba(0, 81, 255, 0.5);
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.5s;
    margin-right: 30px;
}

#button1:hover,
#button2:hover {
    background-color: rgba(0, 81, 255);
}

#master {
    margin-left: 465px;
    margin-top: -410px;
    border-radius: 15%;
}

.popup-overlay {
    display: none;
    /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 200;
    /* Ensure it's on top of other content */
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 300px;
    text-align: center;
}

#Name {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 30px;
    width: 400px;
}

#food {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 30px;
    width: 400px;
}

.popup-content button {
    border: none;
    margin: 10px;
    color: white;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.5s;
    transition: color 0.5s;
}

#cancel {
    color: #000000;
    background-color: white;
    border: 2px solid rgba(0, 81, 255, 0.5);
    width: 90px;
    height: 50px;
}

#cancel:hover {
    background-color: rgba(0, 81, 255), 0.8;
    color: white;
    border: none;
}

#next {
    color: #000000;
    background-color: white;
    border: 2px solid rgba(0, 81, 255, 0.5);
    width: 90px;
    height: 50px;
}

#next:hover {
    background-color: rgba(0, 81, 255, 0.8);
    color: white;
    border: none;
}